@use '_colors';

.EmptyCartPage {
    min-height: 60vh;

    .Icon {
        height: 120px;
        width: 120px;
        margin-bottom: 1rem;       
    }
    
    .Container { 
        text-align: center;
        margin-top: 260px;
        margin-bottom: auto;
        font-size: 42px;
        
        .Text { 
            margin-top: 20px;
            margin-bottom: 60px;
        }

        .ToStore {  
            .LinkIcon {    
                vertical-align: middle;
                padding-left: 10px;
                width: 40px;
                height: 40px;
            }
        }
    }   
}

.CartPage {    
    padding-top: 2rem;   

    .Container {
        text-align: center;   

        .CartColumns {
            grid-template-columns: 1fr 4fr 2fr 2fr 2fr;
            min-height: 40px;      
            font-size: 30px;     
            display: grid;
            align-items: center!important;
            color: colors.$light;
            margin-bottom: 60px;
        }

        .Image { 
            width: 400px;            
        }

        .CartHeader {
            margin-bottom: 2rem;
            padding-right: 2rem;
            padding-left: 2rem; 
        }

        .CartBody {
            padding-right: 2rem;
            padding-left: 2rem;           
            border-radius: 3px;
            font-size: 14.5px;                      
            
            .CartColumns { 
                
                .CartColumnBody { 
                    font-size: 26px; 

                    .CartColumnBody-txt2 { 
                        margin-top: 10px;
                        font-size: 17px;
                    }
                }
            }
        }

        .DeleteBtn {
            font-size: 22px;    
            text-transform: capitalize;
            transition: colors.$transition-ease; 
            background: none;
            color: colors.$white; 
            border: none;
            
            &:hover{
                color: colors.$danger;
            }
        } 
    }

    .CartFooter {
        margin-top: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
       
        .CartFooter-txt {
            margin-right: -1rem;
        }

        .ClearCartBtn {
            border: 1px solid colors.$danger;;
            padding: 0.8rem 1rem; 
            transition: colors.$transition-ease;
            background: none;
            color: colors.$white;   
            font-size: 20px;    
            cursor: pointer;         
            
            &:hover {
                background-color: colors.$danger;                
            }

            .Icon { 
                vertical-align: middle;
            }
        }        
    }

    .CheckoutBtn {
        border: 1px solid colors.$white;;
        padding: 0.8rem 2rem;             
        transition: colors.$transition-ease;
        background: none;
        color: white;   
        font-size: 20px; 
        float: right; 
        cursor: pointer; 
     }
    
}