html[data-theme="dark"] {
    --background1: #232323;
    --background2: #1E1E1E;
    --text: #FFFAFA;  
    --text2: #FFFFFF;
    --backgroundCard: rgb(36, 37, 41);
}

html[data-theme="light"] {
    --background1: #C0C0C0;
    --background2: #FFFFFF;
    --text: #000000;
    --text2: #FFFAFA;
    --backgroundCard: #c0c0c0;
}

$bg: var(--background1);
$bg2: var(--background2);
$bgCard: var(--backgroundCard);
$text: var(--text);
$text2: var(--text2);
$danger: #DC3545;
$transition-ease: all 300ms ease-in-out;

