$bg: #232323;
$bg2: #1E1E1E;
$black: #000;
$white: #fff;
$light-gray: #F2F2F2;
$light: #F4F4F4;
$whitesmoke: #F5F5F5;
$dark: #212529;
$danger: #DC3545;
$gray: #929292;
$transition-ease: all 300ms ease-in-out;