@use 'colors';

.GameDetails { 
    display: flex;
    flex-direction: column;
    flex: 1 1;

    margin: {
      block: 10px 30px;
      inline: calc(clamp(10px, 3vw, 50px) + 8px)
    }

    .Header { 
      font-size: 42px;
      display: flex;
      margin-bottom: 30px;

      .GameName {         
        margin-left: 200px;
      }
    }
  
    .Grid {
      display: grid;
      grid-template-columns: 1fr max(26vw, 300px);
      grid-template-rows: 1fr min-content;
      gap: clamp(15px, 2.5vw, 25px);
      flex: 1 1; 

      .GameDescription {
        padding: 22px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        line-height: 1.3;
        background-color: colors.$bg;
        border-radius: 15px;  
        color: white;
        overflow: hidden;

        .Button {
          font-size: 20px;
          float: right;          
          width: fit-content;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          background-color: transparent;
          border: none;
          color: gray;
          user-select: none;
          cursor: pointer;
          transition: transform 0.15s, color 0.2s;                
        
          &:hover {
            color: white;
          }          
        
          &:active {
            transform: scale(0.925) !important;
          }
        }

        .About {         
          max-height: 200px;
          padding: 5px;
          padding-bottom: 0;
          position: relative;         
          overflow-y: auto;
  
          border-top: {
            left-radius: 15px;
            right-radius: 15px;
          }
        }
      }
    }
}