@use '_colors.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    gap: 13rem;
    width: 99vw;
    height: 5rem;
    padding-right: 2.2rem;
    background-color: colors.$bg;
    z-index: 100;

    .left,
    .middle,
    .right {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;

        .sidebar-show-btn { 
          margin-right: 12px;
          margin-top: 4px;         
        }
        
        .logo { 
          align-self: stretch;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5.5rem;        

          .image { 
            height: 5rem;
          }
        }

        .vert-line { 
          border-left: 1px solid white;
          height: 40px;          
        }
        
        .cart-btn{
          position: relative;
          .cart-items-value{
              position: absolute;
              top: -10px;
              right: -12px;
              background-color: none;
              font-size: 14px;
              font-weight: 500;
              color: white;
              padding: 0 0.5rem;          
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
          }
        }
    }
}