@use '_colors.scss';

.Header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;   
    width: 99vw;
    height: 5rem;    
    background-color: colors.$bg;
    z-index: 100;

    .Left,
    .Middle,
    .Right {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 2rem;
        color: colors.$text;

        .StoreName { 
          
          @media screen and (max-width: 1000px) {      
            display: none;
        }  
        }

        .ExitButton { 
            color: colors.$text;
            font-size: 20px;

            &:hover{
              color: colors.$danger;
          }
        }

        .HeaderMenuButton { 
          padding-right: 1rem;       
             
          .Icon { 
            width: 36px;           
            height: 36px;
            color: colors.$text;
          }
        }
        
        .Logo {           
          display: flex;
          width: 5.5rem;                

          .Image { 
            height: 5rem;            
          }
        }

        .VertLine { 
          border-left: 1px solid colors.$text2;
          height: 40px; 
          @media screen and (max-width: 1000px) {      
            display: none;
        }           
        }

        .reg {           
          @media screen and (max-width: 1000px) {      
            display: none;
        }  
        }
    }   
}