@use '_colors.scss';

.Header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;   
    width: 99vw;
    height: 5rem;    
    background-color: colors.$bg;
    z-index: 100;

    .Left,
    .Middle,
    .Right {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;

        .ExitButton { 
            color: white;
            font-size: 20px;

            &:hover{
              color: colors.$clr-danger;
          }
        }

        .HeaderMenuButton { 
          padding-right: 1rem;
          .Icon { 
            width: 36px;           
            height: 36px;
            color: colors.$clr-light;
          }
        }
        
        .Logo {           
          display: flex;
          width: 5.5rem;        

          .Image { 
            height: 5rem;
          }
        }

        .VertLine { 
          border-left: 1px solid white;
          height: 40px;          
        }
        
        .CartBtn{
          position: relative;
          margin-right: 20px;

          .Icon { 
            width: 32px;
            height: 32px;
          }         
          
          .CartItems-value {
              position: absolute;
              top: -14px;
              right: -12px;
              background-color: colors.$bg;
              font-size: 14px;
              font-weight: 500;
              color: white;
              padding: 0 0.5rem;          
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
          }
        }       
    }

    @media screen and (max-width: 600px) {      
      height: 20px;      
    }
}