@use "_colors";

.LogInPage {
  text-align: center;
  padding-top: 7rem;
  
  .Form {
    display: inline-block;
    background: colors.$bg2;
    border: 1px solid colors.$text;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;

    form label {
      float: left;
      font-size: 1.1rem;
      margin: 0;
      padding: 0      
    }
  
    input {
      border: 1px solid colors.$text;
      color: black;      
      width: 15rem;
      padding: .3rem;
      border-radius: 2px;
      outline: none;      
    }

    .LogInButton {
      margin-left: 5.5rem;
      display: block;
      width: 40%;
      padding: .3rem;
      border: none;
      background: #222;
      color: colors.$text2;
      border-radius: 3px;  
    }
  }

  .Footer { 
    p {
      margin: 2;
      font-size: 1.5rem;
    }
  }
}



