@use 'colors';

.Menu {    
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: colors.$bg;    
    padding: 2rem;
    transform: translateX(-100%);
    z-index: 1000;

    .GenresTitle {
        padding-bottom: 1rem;
    }

    .MenuHideBtn {
        position: absolute;
        right: 2rem;
        top: 1.2rem; 
        
        .Icon { 
            width: 36px;           
            height: 36px;
            color: colors.$light;
          }
        
    }

    .GenresList {

        li {
            padding: 0.8rem 0;           
            list-style-type: none;
        }
    }
}

.hide-menu{
    transform: translateX(0);
}