@use '_colors';

.SettingsPage {

    .Container {

        Button { 
            color: colors.$text;
            border-color: colors.$text;
        }    

        .ChangeTheme { 
            margin-top: 1rem;            
        }               
    } 
}