@use 'colors';

// Game page details slider

.slider { 
  
  .container { 
    width: 1240px;
    
    .slider-container { 
      overflow-y: hidden; 

      .slider-item {                  
                
        img {
          height: 770px;
          width: 100%;
          border-radius: 16px;
        }
      }
    }
  }
}  