@use '_header';
@use '_sidebar';
@use '_colors';
@use '_store';
@use '_cart';
@use '_search';
@use '_menu';

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background-color: colors.$bg2;    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'GT Walsheim Pro';
}

.main-content { 
    margin: 8rem;
}
